#layout {
    margin-top: 4px;
    margin-left: 4px;
    width: calc(100vw - 8px);
    height: calc(100vh - 10px);
}

.w2ui-panel-content {
    border: 1px solid #dfdfdf;
}

#layout_app_layout_panel_main .w2ui-panel-content{
    overflow: hidden!important;
    border: 0px;
}

